.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-mono-regular {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fira-mono-medium {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
